<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>verbs</key>
	<array>
		<dict>
			<key>frontSide</key>
			<string>to knock down, to overthrow, to throw down</string>
			<key>backSide</key>
			<string>abatir</string>
			<key>categoryId</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>to burn, to set on fire</string>
			<key>backSide</key>
			<string>abrasar</string>
			<key>categoryId</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>to embrace, to hug; to clamp</string>
			<key>backSide</key>
			<string>abrazar</string>
			<key>categoryId</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>to open</string>
			<key>backSide</key>
			<string>abrir</string>
			<key>categoryId</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>to absolve, to acquit</string>
			<key>backSide</key>
			<string>absolver</string>
			<key>categoryId</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>to abstain</string>
			<key>backSide</key>
			<string>abstenerse</string>
			<key>categoryId</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>to annoy, to bore, to vex</string>
			<key>backSide</key>
			<string>aburrir</string>
			<key>categoryId</key>
			<integer>6</integer>
		</dict>
	</array>
	<key>nouns</key>
	<array>
		<dict>
			<key>frontSide</key>
			<string>ballpoint pen</string>
			<key>backSide</key>
			<string>el bolígrafo</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>eraser</string>
			<key>backSide</key>
			<string>el borrador</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>calculator</string>
			<key>backSide</key>
			<string>la calculadora</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>calendar</string>
			<key>backSide</key>
			<string>el calendario</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>computer</string>
			<key>backSide</key>
			<string>la computadora</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>notebook</string>
			<key>backSide</key>
			<string>cuaderno</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>dictionary</string>
			<key>backSide</key>
			<string>el diccionario</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>money</string>
			<key>backSide</key>
			<string>el dinero</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>desk</string>
			<key>backSide</key>
			<string>el escritorio</string>
			<key>categoryId</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>adjectives</key>
	<array>
		<dict>
			<key>frontSide</key>
			<string>tall</string>
			<key>backSide</key>
			<string>alto(a)</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>friendly</string>
			<key>backSide</key>
			<string>amable</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>unpleasant</string>
			<key>backSide</key>
			<string>antipático(a)</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>arrogant</string>
			<key>backSide</key>
			<string>arrogante</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>artistic</string>
			<key>backSide</key>
			<string>artístico(a)</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>athletic</string>
			<key>backSide</key>
			<string>atlético(a)</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>short (height)</string>
			<key>backSide</key>
			<string>bajo(a)</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>bilingual</string>
			<key>backSide</key>
			<string>bilingüe</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>pretty</string>
			<key>backSide</key>
			<string>bonito(a)</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>good</string>
			<key>backSide</key>
			<string>bueno(a)</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>married</string>
			<key>backSide</key>
			<string>casado(a)</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>frontSide</key>
			<string>coward</string>
			<key>backSide</key>
			<string>cobarde</string>
			<key>categoryId</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
